{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title %}{% endblock %}{% block head_title_base %}{% if SITE_NAME %} {{ SITE_NAME }}{% endif %}{% endblock %}</title>
{#        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>#}
        <meta name="description" content="オンラインメモ帳サービスです。会員登録不要でWebにつないだ瞬間からメモを保存できます。仕事中・外出中・家にいるとき、思い立ったらいつでもご活用下さい。">
        {% block viewport %}
            <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
            {#            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">#}
        {% endblock %}

        {% block styles %}{% endblock %}

        {% block html5shim %}
            <!-- HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <![endif]-->
        {% endblock %}

        {% block extra_head_base %}
            <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body data="{{ user.is_authenticated }}" class="{% block body_class_base %}{% block body_class %}{% endblock %}{% endblock %}" id="{% block body_id %}{% endblock %}" {% block body_extra_attributes %}{% endblock %}>
        {% block topbar_base %}
            <header>
                <nav>
                    <div class="topbar-container">
                    {% block topbar %}
                        {% block site_brand %}<a href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
                        <button class="expand" type="button" data-toggle="collapse" data-target=".nav-container" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>

                        <div class="nav-container" id="navbar">
                            {% block nav %}{% include "_nav.html" %}{% endblock %}
                            {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                        </div>
                    {% endblock %}
                    </div>
                </nav>
            </header>
        {% endblock %}

        {% block body_base %}
        <main>
            {% block content_left %}{% endblock %}
            <section id="content-section">
                <div id="content-body">
                    {% block messages %}{% include "_messages.html" %}{% endblock %}
                    {% block body %}{% endblock %}
                </div>
            </section>
            {% block content_right %}{% endblock %}
        </main>
        {% endblock %}

        {% block footer_base %}
            <footer>
                <div>
                    {% block footer %}{% endblock %}
                </div>
            </footer>
        {% endblock %}

        {% block scripts %}{% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}

        <!-- Modal before login-->
        <div class="modal fade" id="beforeAhthenticatedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>会員登録すると、異なるデバイスやブラウザで保存したメモをすべて同期し、いつでもどこでも見られるようになります。</p>
                        <a href="{% url 'account_login' %}" class="btn btn-block btn-olm">ログイン</a>
                        <a href="{% url 'account_signup' %}" class="btn btn-block btn-olm">会員登録</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal after login-->
        <div class="modal fade" id="afterAhthenticatedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <a href="{% url 'account_logout' %}" class="btn btn-block btn-olm">ログアウト</a>
                        <a href="{% url 'account_password' %}" class="btn btn-block btn-olm">パスワードの変更</a>
                        <a href="{% url 'account_settings' %}" class="btn btn-block btn-olm">アカウント</a>
                        <a href="{% url 'account_delete' %}" class="btn btn-block btn-olm">アカウント削除</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <!-- for adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- onlinememo -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7550788523766850"
         data-ad-slot="7154536925"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</html>
