{% extends "base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
    <link href="{% static "css/app.css" %}" rel="stylesheet" />
    <link href="{% static "css/custom.css" %}" rel="stylesheet" />
{% endblock %}


{% block extra_head_base %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block topbar_base %}

{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>

    <script src="{% static "js/site.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            document.getElementById('side-menu-checkbox').checked = false;
            document.getElementById('mark-down-label').hidden = true;
        } else {
            document.getElementById('side-menu-checkbox').checked = true;
        }

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus');
        });

    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59919249-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-59919249-3');
    </script>

{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
